*.class

# Package Files #
gwt-servlet.jar
*.war
*.tmp
*.symbolMap

# gwt caches and compiled units #
war/gwt_bree/
WebContent/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
WebContent/WEB-INF/deploy/
WebContent/WEB-INF/classes/
WebContent/testoaicat/
WebContent/testoaicat/gwt/clean/clean.css
WebContent/testoaicat/gwt/clean/clean_rtl.css
TestOAICat/WebContent/WEB-INF/deploy/
TestOAICat/WebContent/WEB-INF/classes/
TestOAICat/WebContent/testoaicat/
TestOAICat/WebContent/testoaicat/gwt/clean/clean.css
TestOAICat/WebContent/testoaicat/gwt/clean/clean_rtl.css
